trunk/andromda/src/xsd/simpleOO.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	   xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	   jxb:version="1.0">

  <xsd:element name="model" type="ModelType"/>

  <xsd:complexType name="ModelType">
      <xsd:annotation>
	<xsd:appinfo>
	  <jxb:class>
	    <jxb:javadoc>
	      <![CDATA[ Represents a UML object model that was read from
			a file in the simpleOO.xml format.]]>
	    </jxb:javadoc>
	  </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="datatype"    type="DatatypeType">
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="datatypes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="class"	    type="ClassType"	 >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="classes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="interface"   type="InterfaceType"     >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="interfaces"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="package"     type="PackageType"	    >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="packages"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="stereotype"  type="StereotypeType"   >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="stereotypes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="association" type="AssociationType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="associations"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>

      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="PackageType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Pakkage">
	     <jxb:javadoc>
		<![CDATA[ Represents a UML package.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="datatype"    type="DatatypeType">
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="datatypes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="class"	    type="ClassType"	 >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="classes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="interface"   type="InterfaceType"     >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="interfaces"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>

      <xsd:attribute name="package" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="TypeType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Type">
	     <jxb:javadoc>
		<![CDATA[ Represents a UML type (data type, interface, class).]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="attribute"	  type="AttributeType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="attributes"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="operation"	  type="OperationType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="operations"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="association-link"  type="AssociationLinkType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="associationLinks"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="dependency"	  type="DependencyType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="dependencies"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>

	<xsd:element minOccurs="0" maxOccurs="unbounded" name="tagged-value"	  type="TaggedValueType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="taggedValues"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>

      <xsd:attribute name="id"		   type="xsd:NMTOKEN"  use="required" />
      <xsd:attribute name="name"	   type="xsd:string"   use="required" />
      <xsd:attribute name="package"	   type="xsd:NMTOKEN"  use="required" />
      <xsd:attribute name="visibility"	   type="xsd:string"   use="required" />
      <xsd:attribute name="realizations"   type="xsd:NMTOKENS" use="optional" />
      <xsd:attribute name="specifications" type="xsd:NMTOKENS" use="optional" />
      <xsd:attribute name="supertypes"	   type="xsd:NMTOKENS" use="optional" />
      <xsd:attribute name="subtypes"	   type="xsd:NMTOKENS" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="DatatypeType">
      <xsd:annotation>
	<xsd:appinfo>
	  <jxb:class name="Datatype" >
	    <jxb:javadoc>
	      <![CDATA[ Represents a data type in the UML model.]]>
	    </jxb:javadoc>
	  </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
	<xsd:extension base="TypeType">
	</xsd:extension>
      </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="ClassType">
      <xsd:annotation>
	<xsd:appinfo>
	  <jxb:class name="Klass" >
	    <jxb:javadoc>
	      <![CDATA[ Represents a class in the UML model.]]>
	    </jxb:javadoc>
	  </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
	<xsd:extension base="TypeType">
	</xsd:extension>
      </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="InterfaceType">
      <xsd:annotation>
	<xsd:appinfo>
	  <jxb:class name="Interface" >
	    <jxb:javadoc>
	      <![CDATA[ Represents an interface in the UML model.]]>
	    </jxb:javadoc>
	  </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:complexContent>
	<xsd:extension base="TypeType">
	</xsd:extension>
      </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="AssociationType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Association">
	     <jxb:javadoc>
		<![CDATA[ Represents a UML association between two classes.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
	<xsd:element name="association-end" type="AssociationEndType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="end1"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
	<xsd:element name="association-end" type="AssociationEndType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="end2"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="tagged-value"	  type="TaggedValueType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="taggedValues"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="AssociationEndType">
	<xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="AssociationEnd">
	     <jxb:javadoc>
		<![CDATA[ Represents the end of an association in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>

      <xsd:sequence>
	<xsd:element name="properties" type="PropertiesType" />
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="tagged-value"	  type="TaggedValueType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="taggedValues"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>
      <xsd:attribute name="visibility" type="xsd:string" use="required" />
      <xsd:attribute name="type" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="AssociationLinkType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="AssociationLink">
	     <jxb:javadoc>
		<![CDATA[ Represents the end of an association in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:attribute name="thisend" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="associd" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="PropertiesType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Properties">
	     <jxb:javadoc>
		<![CDATA[ Represents the properties of an association end.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element name="rolename" type="xsd:string" />
	<xsd:element name="multiplicity" type="MultiplicityType" />
	<xsd:element name="navigable" type="xsd:string"/>
	<xsd:element name="aggregation" type="xsd:string"/>
	<xsd:element name="ordering" type="xsd:string"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MultiplicityType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Multiplicity">
	     <jxb:javadoc>
		<![CDATA[ Represents the multiplicity at the end of an association in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element name="lower" type="xsd:string"/>
	<xsd:element name="upper" type="xsd:string"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AttributeType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Attribute">
	     <jxb:javadoc>
		<![CDATA[ Represents an attribute of a type in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="tagged-value"	  type="TaggedValueType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="taggedValues"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>
      <xsd:attribute name="visibility" type="xsd:string" use="required" />
      <xsd:attribute name="type" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="owner" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="OperationType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Operation">
	     <jxb:javadoc>
		<![CDATA[ Represents an operation in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="parameter" type="ParameterType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="parameters"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
	<xsd:element minOccurs="0" maxOccurs="unbounded" name="tagged-value"	  type="TaggedValueType" >
	  <xsd:annotation>
	    <xsd:appinfo>
	      <jxb:property name="taggedValues"/>
	    </xsd:appinfo>
	  </xsd:annotation>
	</xsd:element>
      </xsd:sequence>
      <xsd:attribute name="visibility" type="xsd:string" use="required" />
      <xsd:attribute name="type" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>


  <xsd:complexType name="ParameterType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Parameter">
	     <jxb:javadoc>
		<![CDATA[ Represents a parameter of an operation in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:attribute name="type" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="TaggedValueType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="TaggedValue">
	     <jxb:javadoc>
		<![CDATA[ Represents a user defined extension of an UML element in the form of a tag-value pair.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
	<xsd:element name="tag" type="xsd:string"/>
	<xsd:element name="value" type="xsd:string"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="DependencyType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Dependency">
	     <jxb:javadoc>
		<![CDATA[ Represents a dependency between two classes in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="target-type" type="xsd:NMTOKEN" use="required" />
  </xsd:complexType>

  <xsd:complexType name="StereotypeType">
      <xsd:annotation>
	<xsd:appinfo>
	   <jxb:class name="Stereotype">
	     <jxb:javadoc>
		<![CDATA[ Represents a stereotype in UML.]]>
	     </jxb:javadoc>
	   </jxb:class>
	</xsd:appinfo>
      </xsd:annotation>
      <xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
      <xsd:attribute name="name" type="xsd:string" use="required" />
      <xsd:attribute name="extended-elements" type="xsd:NMTOKENS" use="optional" />
  </xsd:complexType>

</xsd:schema>


