trunk/andromda/src/java/org/andromda/core/translation/library/Library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =========================================================================
     This schema defines the andromda-translation-library.xml configuration file.
     CODING CONVENTION: NO TABS, INDENT 4 SPACES
     ========================================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- description of what the translation-library does -->
    <xs:element name="description" type="xs:string"/>

    <!-- you configure the template engine through here -->
    <xs:element name="templateEngine">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="macrolibrary" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <!-- the class of the TemplateEngine implementation (must have a default constructor) -->
            <xs:attribute name="className" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <!-- Defines a macro library that can be used with commonly used scripting engine macros -->
    <xs:element name="macrolibrary">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- the translation which performs 'translation' of the expression
         in combination with the translation template -->
    <xs:element name="translator" type="xs:string"/>

    <!-- any objects to make available to the translation template -->
    <xs:element name="templateObject">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <!-- the name of the templateObject (this is the scripting variable name
                 made available to the template being processed) -->
            <xs:attribute name="name" type="xs:string" use="required"/>
            <!-- the class of the templateObject (must have a default constructor) -->
            <xs:attribute name="className" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- the 'translation' element -->
    <xs:element name="translation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="translator" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="templateEngine" minOccurs="0" maxOccurs="1"/>
                <!-- the optional template that contains the 'translation' tempate -->
                <xs:element name="template" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <!-- The path to the template (relative to the translation-library resources-->
                        <xs:attribute name="path" use="required"/>
                        <!-- The name to be given to the variable made available to the template (this is
                             the context element to which the expression applies) -->
                        <xs:attribute name="variable" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- the root 'translation-library' element -->
    <xs:element name="translation-library">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="templateEngine" minOccurs="0"/>
                <xs:element ref="translator" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="templateObject" minOccurs="0" maxOccurs="unbounded"/>
                <!-- these are references to properties that are expected to
                     be supplied by the calling client through a <namespace/> element.
                     When the property name and its value are supplied in the build
                     file for example, that property is then supplied to the template.  -->
                <xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="translation" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="property">
        <xs:complexType>
            <!-- defines a reference to a <property/> element defined within
                 a namespace element in your build file -->
            <xs:attribute name="reference" use="required"/>
            <!-- defines the default value of the property if the property isn't supplied -->
            <xs:attribute name="default" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>