andromda/src/dtd/TypeMapping.dtd

<!ELEMENT mappings (mapping+) >

<!ELEMENT mapping (type*, jdbc-type, sql-type) >

<!ELEMENT type      (#PCDATA) >
<!ELEMENT jdbc-type (#PCDATA) >
<!ELEMENT sql-type  (#PCDATA) >

<!ATTLIST mappings
          database       CDATA   #REQUIRED >

<!ATTLIST jdbc-type
          name           CDATA   #REQUIRED >

<!ATTLIST sql-type
          pattern        CDATA   #REQUIRED
          default-length NMTOKEN #REQUIRED >

